pipeline/15-look up pipeline.json
{
	"name": "15-look up pipeline",
	"properties": {
		"activities": [
			{
				"name": "lookupStoreProc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[getcustomerdetails]",
						"storedProcedureParameters": {
							"customerID": {
								"type": "Int32",
								"value": "277"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DimCustomer_Table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "VariableCompanyName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lookupStoreProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CompanyName",
					"value": {
						"value": "@activity('lookupStoreProc').output.firstRow.CompanyName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "VariableSalesPerson",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lookupStoreProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SalesPerson",
					"value": {
						"value": "@activity('lookupStoreProc').output.firstRow.SalesPerson",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"CompanyName": {
				"type": "String"
			},
			"SalesPerson": {
				"type": "String"
			}
		},
		"annotations": []
	}
}